<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/6f96e8bf-d6b0-49de-8461-0506b998dd2a/resourceGroups/hackathon2022/providers/Microsoft.Web/sites/cgmtwiningestfunction</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://cgmtwiningestfunction.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://cgmtwiningestfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$cgmtwiningestfunction</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>